@charset "utf-8";

/* FONT-NanumSquare */
h1,h2,h3,h4,h5,h6,
.logo,
.ac-gn-list a,
.post-write input, 
table tr th, 
table tr td{font-family:'NanumSquare','Apple SD Gothic Neo','Malgun Gothic','맑은 고딕','돋움',dotum,Helvetica,sans-serif !important}
#ac-globalnav .ac-gn-list .ac-gn-inner li.user > *, 
#ac-globalnav .ac-gn-list .ac-gn-inner li:last-child a,
p,header .logo .tx-s, .title, .tx19, button, .edu-menu, div, span, .edu-li .info h4, .post-write textarea, #fileBtn, .best-comment h4{font-family:'Roboto','notokr' !important}

@media(min-width:768px){
  .date{font-family:'Roboto','notokr' !important}
  .title, .tx19, .edu-menu, .bn-view-all{font-family:'NanumSquare','Apple SD Gothic Neo','Malgun Gothic','맑은 고딕','돋움',dotum,Helvetica,sans-serif !important}
}

h1,h2,h3,h4,h5,h6{font-size:18px; font-weight:600}
@media(min-width:768px){
  h1,h2,h3,h4,h5,h6{font-size:20px}
}
@media(min-width:1070px){
  h1,h2,h3,h4,h5,h6{font-size:22px}
}
/* Page */
/* Framework CSS */
input, textarea, button, select{
  -webkit-appearance:none; -moz-appearance:none; appearance:none;
  -webkit-border-radius:0; -moz-border-radius:0; -o-border-radius:0; border-radius:0}
  
/* Page Typography */
.tx50 {font-size:25px; font-weight:500; letter-spacing:-0.3px; line-height:1.3}
.tx45 {font-size:27px; font-weight:500; letter-spacing:-0.3px; line-height:1.4}
.tx40 {font-size:22px; font-weight:500; letter-spacing:-0.3px; line-height:1.4}
.tx35 {font-size:22px; font-weight:600; letter-spacing:-1px; line-height:1.3}
.tx30 {font-size:20px; font-weight:600; letter-spacing:-0.3px; line-height:1.4}
.tx27 {font-size:20px; font-weight:600; letter-spacing:-0.3px; line-height:1.4}
.tx25 {font-size:18px; font-weight:600; letter-spacing:-0.2px; line-height:1.4}
.tx21 {font-size:16px; font-weight:500; letter-spacing:-0.2px; line-height:1.4}
.tx20 {font-size:16px; font-weight:600; line-height:1.5}
.tx19  {font-size:16px; font-weight:500; letter-spacing:-0.2px; line-height:1.6;}
.tx18  {font-size:15px; line-height:1.7; font-weight:400}
.tx17  {font-size:15px; line-height:1.6; letter-spacing:-0.2px; font-weight:400}
p      {font-size: 16px;margin-top:7px;line-height:1.7;font-weight:400;}
.tx16  {font-size:12px; line-height:1.7; font-weight:500}
.tx15  {font-size:12px; line-height:1.6; font-weight:400}
.tx14  {font-size:12px; line-height:1.5; font-weight:400}
.tx13  {font-size:12px; line-height:1.5; font-weight:400}
@media(min-width:768px){
  /* h1, h2, h3, h4, h5, h6, p, small{text-align:inherit} */
  .tx50 {font-size:34px; letter-spacing:-1px}
  .tx45 {font-size:31px; letter-spacing:-1px}
  .tx40 {font-size:29px; letter-spacing:-1px}
  .tx35 {font-size:29px; letter-spacing:-1px}
  .tx30 {font-size:22px; letter-spacing:-0.7px}
  .tx27 {font-size:22px; letter-spacing:-0.7px}
  .tx25 {font-size:22px; letter-spacing:-0.5px}
  .tx21 {font-size:19px; letter-spacing:-0.5px}
  .tx20 {font-size:18px}
  .tx19  {font-size:18px}
  .tx18  {font-size:17px; letter-spacing:-0.3px}
  .tx17  {font-size:16px; line-height:1.7; letter-spacing:-0.3px}
  p      {font-size:16px; margin-top:10px; line-height:1.8}
  .tx16  {font-size:14px}
  .tx15  {font-size:14px}
  .tx14  {font-size:14px}
  .tx13  {font-size:13px}
}
@media(min-width:1070px){
  .tx50 {font-size:50px; letter-spacing:-2px}
  .tx45 {font-size:45px; letter-spacing:-2px}
  .tx40 {font-size:40px; letter-spacing:-1.5px}
  .tx35 {font-size:35px; letter-spacing:-1.5px}
  .tx30 {font-size:30px}
  .tx27 {font-size:27px}
  .tx25 {font-size:25px}
  .tx21 {font-size:21px}
  .tx20 {font-size:20px; line-height:1.7}
  .tx19  {font-size:19px; letter-spacing:-0.5px}
  .tx18  {font-size:18px; letter-spacing:-0.5px}
  .tx17  {font-size:17px}
  p      {font-size:18px} 
  .tx16  {font-size:16px}
  .tx15  {font-size:15px}
  .tx14  {font-size:14px}
  .tx13  {font-size:13px}
}

* {word-break:keep-all}

/* empty sapce */
.part-t{padding-top:30px}
.part-b{padding-bottom:30px}
@media(min-width:768px){
  .part-t{padding-top:45px}
  .part-b{padding-bottom:45px}
}
@media(min-width:1070px){
  .part-t{padding-top:60px}
  .part-b{padding-bottom:60px}
}

/* containter */
.container{padding-left:20px; padding-right:20px}
@media (min-width:768px) {
  .container{max-width:600px; margin-left:auto; margin-right:auto; padding-left:0; padding-right:0}
}
@media (min-width:1070px) {
  .container{max-width:700px; margin-left:auto; margin-right:auto}
}

.container,
.container-fluid {width:90%; margin-right:auto; margin-left:auto; padding-right:0; padding-left: 0;}
.row,
.card-wrap {justify-content: center;}
.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}

@media (min-width: 768px) {
    .container {max-width: 760px}
    .container,
    .container-fluid {width: 100%}
}
@media (min-width: 1070px) {
    .container {max-width: 980px;}
    .container-fluid {max-width: none}
}
@media (min-width: 1200px) {
    .container {max-width: 1200px}
}

@media (min-width: 1500px) {
    .container.container1400 {max-width: 1400px;}
}

@media (min-width: 768px) {
    .container,
    .container-fluid {padding-left: 15px; padding-right: 15px;}
}

@media (min-width: 1070px) {
    .ac-gn-inner > li > a {position: relative;}
    .ac-gn-inner > li > a:not(.ico):hover::before {-webkit-transform: scaleX(1); transform: scaleX(1);}
    .ac-gn-inner > li > a:not(.ico)::before {content: ''; position: absolute; left: -1px; bottom: 5px; width: calc(100% + 2px); height: 2px; background-color: #684cf5; -webkit-transform-origin: 0 0; transform-origin: 0 0; -webkit-transform: scaleX(0); transform: scaleX(0); transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);}
    .ac-gn-inner > li > a.current::before {content: ''; position: absolute; left: -1px; bottom: 5px; width: calc(100% + 2px); height: 2px; background-color: #684cf5; transform: initial; transition: initial;}
}

/* VISUAL */
.visual {background-image: linear-gradient(112deg, #e2f9fe, #e9e2fe); padding-top: 75px;}
.head-text {text-align: center;}
.head-text h2 {color: #888ab3;}
.head-text h1 {color: #222;font-weight: 400;margin-top: 8px;}
.head-text h1 b {font-weight: 600;}
.head-text p {margin-top: 8px;color: #444;line-height: 1.6;}

.card-wrap .item {transition: all 0.2s ease;}
.scale {transition: all 0.2s ease;}
.visual .card-wrap {margin-top: 16px;}

@media (min-width: 1070px) {
    .visual .ico-chat::before {width: 18px;height: 18px;}
    .visual {padding-top: 120px;padding-bottom: 80px;}
    .head-text h1 {font-size: 47px;}
    .head-text p {margin-top: 20px;line-height: 1.7;}
    .visual .card-wrap {margin-top: 50px;}
    .card-wrap .item:hover {box-shadow: 0 15px 30px -7px rgb(81 98 164 / 30%);transform: scale(1.02);}
    .scale:hover {box-shadow: 0 15px 30px -7px rgb(0 0 0 / 30%);transform: scale(1.02);}
}

.tit .ico-arrow-r::after {
    width: 8px;
    height: 16px;
    margin-left: 12px;
}

@media (min-width: 1070px) {
    .tit-tab {
        border-bottom: none;
    }
    .tit-tab a {
        margin-right: 16px;
        margin-top: 0;
    }
    .tit-tab a:last-child {
        margin-right: 0;
    }
    .tit-tab .current {
        border-bottom: none;
    }
    .service-wrap .row {
        margin-top: 0;
    }
    .service-wrap .tit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -10px;
    }
    .service-wrap .tit p {
        margin-top: 16px;
    }
}

/* PAGE-SERVICE */
.page-service .app {
    padding-top: 20px;
    padding-bottom: 40px;
}
.page-service .web {
    padding-bottom: 40px;
}
.page-service .page-title {
    padding-top: 15px;
    padding-bottom: 15px;
}
.page-service .page-title h1 {
    text-align: center;
}
.page-service .tit-tab {
    text-align: center;
    border: none;
    margin-top: 16px;
    margin-bottom: 16px;
}
.page-service .tit-tab a {
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    padding: 8px 14px;
    display: inline-block;
    background: #ebebf1;
    color: #888;
    margin-right: 0;
    margin-top: 0;
}
.page-service .tit-tab a.current {
    color: #fff;
    background: #684cf5;
}

@media (min-width: 1070px) {
    .page-service .app {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    .page-service .web {
        padding-bottom: 60px;
    }
    .page-service .page-title {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .page-service .tit-tab a {
        padding: 12px 20px;
        font-size: 18px;
    }
    .page-service .tit-tab {
        margin-top: 32px;
    }
}

/* service-visual */
.service-visual {
    background-image: linear-gradient(112deg, #e2f9fe, #e9e2fe);
    position: relative;
}
.service-visual::before {
    content: '';
    background: url(/images/service-bg.png) center no-repeat;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
}
.service-visual .container {
    position: relative;
    z-index: 1;
}
.service-visual .page-title > * {
    text-align: center;
}

/* MEDIA(IMG) */
.media {
    width: 100%;
    display: block;
    background: #fafafa;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* SLIDER */
.slider-wrap {
    position: relative;
}
.slider {
    overflow: hidden;
    box-shadow: 0 0 6px rgb(0 0 0 / 8%);
    border-radius: 8px;
}
.scon {
    white-space: nowrap;
    position: relative;
    top: 0;
    left: 0;
    transition: left 0.5s cubic-bezier(0.03, 0.6, 0.32, 1.02);
}
.item {
    display: inline-block;
    padding-bottom: 100%;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.slider-dots {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 0;
    bottom: -30px;
}
.slider-dots a {
    display: inline-block;
    background: rgba(0, 0, 0, 0.1);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: 3px;
    cursor: pointer;
}
.slider-dots a.current {
    background: rgba(0, 0, 0, 0.3);
}

/* shot-mobile-wrap */
.shot-mobile {
    overflow-x: scroll;
    -ms-overflow-style: none;
}
.shot-mobile-wrap {
    display: flex;
    width: max-content;
    padding-left: 5%;
    padding-right: 5%;
}
.shot-mobile-wrap li {
    font-size: 0;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 20px;
}
.shot-mobile-wrap li:last-child {
    margin-right: 0;
}
.shot-mobile-wrap li::before {
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.03);
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 15px;
}
.shot-mobile-wrap img {
    width: 42vw;
    position: relative;
}
.border-bottom {
    border-bottom: 1px solid #999;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

@media (min-width: 586px) {
    .shot-mobile-wrap img {
        width: 30vw;
    }
}

@media (min-width: 768px) {
    .shot-mobile-wrap {
        width: initial;
        padding-left: 15px;
        padding-right: 15px;
    }
    .shot-mobile-wrap img {
        width: 274px;
    }
}

@media (min-width: 1070px) {
    .shot-mobile::-webkit-scrollbar {
        display: none;
    }
    .shot-mobile-wrap {
        padding-left: 0px;
        padding-right: 0px;
    }
    .shot-mobile.content800 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* 말줄임 */
.info p,
.info h4,
.ask-title,
.w-excerpt {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

/* 말줄임 두줄 */
.header-notice,
.elps1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

/* 아코디언 */
#accordion .con-acco {
    overflow: hidden;
    height: 0;
    color: #606167;
}
#accordion .con-acco.open {
    height: auto;
}
#accordion .con-acco.close {
    height: 0;
}
#accordion a.tit-acco {
    position: relative;
    display: block;
}
#accordion .ico {
    position: absolute;
    width: 25px;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#accordion .ico::before,
#accordion .ico::after {
    content: '';
    position: relative;
    width: 6px;
    height: 1px;
    display: block;
    background: #000;
}
#accordion .ico::before {
    transform: rotate(45deg);
}
#accordion .ico::after {
    transform: rotate(-45deg);
    margin-left: -2px;
}
#accordion .tit-acco.open .ico {
    transform: rotate(-180deg);
}
#accordion > div ul {
    border-bottom: 1px solid #ddd;
}
#accordion > div:last-child ul.open {
    border-bottom: none;
}

@media (min-width: 768px) {
    #accordion .ico {
        width: 35px;
    }
    #accordion .ico::before,
    #accordion .ico::after {
        width: 9px;
    }
    #accordion .ico::after {
        margin-left: -3px;
    }
}

.tit-acco h3 {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 35px);
}
.tit-acco.open h3 {
    font-weight: 600;
}
.tit-acco h3::before {
    content: 'Q. ';
    position: absolute;
    left: -25px;
}
.faq-item {
    padding: 12px 12px 12px 35px;
    border-bottom: 1px solid #e8e9e9;
}
.faq-item div.open {
    margin-top: 10px;
}
.page .faq .container {
    max-width: 730px;
}
.page-service-detail .faq .container {
    max-width: 830px !important;
}
.faq .tit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .tit-acco h3::before {
        font-size: 16px;
        vertical-align: middle;
        left: -30px;
    }
}
@media (min-width: 1070px) {
    .tit-acco h3::before {
        font-size: 16px;
    }
    .faq-item {
        padding: 20px 12px 20px 40px;
    }
    .page .faq .container {
        max-width: 930px;
    }
}

/* button */
.faq-bn {
    text-align: right;
}
.faq-bn button {
    padding: 5px 0 5px 10px;
    border: none;
    font-weight: 500;
    background-color: transparent;
}

@media (min-width: 768px) {
    .faq-bn button {
        font-size: 15px;
    }
}

.bg {
    background: #f8f8fb;
}

/* PAGE */
.page {
    margin-top: 54px;
}
.page-title h1 {
    font-size: 21px;
    letter-spacing: -0.3px;
    line-height: 1.3;
    margin-top: 8px;
}
.page-title p {
    margin-top: 8px;
    font-size: 13px;
    line-height: 1.6;
}
.content700 {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}
.content800 {
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}
.content900 {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
}
.step {
    border-bottom: 2px solid #333;
    padding-bottom: 8px;
    margin-top: 24px;
    margin-bottom: 8px;
}
.step span {
    margin-right: 12px;
    font-size: 13px;
    white-space: nowrap;
    line-height: 1.6;
}
.step span.current {
    font-weight: 600;
}
.btm-li li a {
    border-bottom: 1px solid #06c;
    color: #06c;
    white-space: nowrap;
}
.btm-li li {
    position: relative;
    font-size: 13px;
    line-height: 1.5;
    margin-top: 8px;
}
.btm-li li::before {
    content: '';
    width: 3px;
    height: 3px;
    display: inline-block;
    border-radius: 4px;
    background: #555;
    vertical-align: middle;
    top: -1px;
    position: relative;
    margin-right: 4px;
}
.btm-li .link {
    color: #555;
    display: inline-block;
}
.btm-li .link:hover {
    text-decoration: underline;
}
@media (min-width: 768px) {
    .step span {
        margin-right: 16px;
    }
    .page-title > * {
        text-align: center;
    }
    .page-title h1 {
        font-size: 30px;
        letter-spacing: -1px;
    }
    .page-title p {
        font-size: 14px;
    }
    .btm-li li {
        font-size: 14px;
    }
}

@media (min-width: 1070px) {
    .page-title h1 {
        font-size: 45px;
    }
    .page-title p {
        margin-top: 16px;
        font-size: 15px;
    }
    .nav-tit {
        font-weight: 500;
    }
    .page {
        margin-top: 80px;
    }
    .step {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .step span {
        font-size: 14px;
    }
    .btm-li li {
        font-size: 15px;
    }
}

.nav-wrap {
    background-image: linear-gradient(112deg, #e2f9fe, #e9e2fe);
    overflow-x: scroll;
}
.page-sub-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}
.page-sub-nav .active {
    border-bottom: 1px solid #333;
}
.page-sub-nav nav ul {
    display: flex;
    min-height: 50px;
    align-items: center;
}
.page-sub-nav nav ul li a {
    display: inline-block;
    white-space: nowrap;
}
.page-sub-nav a {
    margin: 8px;
}
.page-sub-nav a.nav-tit {
    margin-left: 5%;
}
.page-sub-nav nav ul li:last-child a {
    margin-right: 20px;
}

@media (min-width: 768px) {
    .page-sub-nav a.nav-tit {
        margin-left: 0;
    }
    .page-sub-nav {
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .page-sub-nav nav ul li:last-child a {
        margin-right: 0;
    }
}

@media (min-width: 1070px) {
    .nav-wrap {
        overflow-x: initial;
        position: sticky;
        top: 0;
        z-index: 1;
    }
    .page-sub-nav {
        min-height: 60px;
        max-width: 980px;
    }
    .page-sub-nav nav ul {
        min-height: 60px;
    }
}

@media (min-width: 1200px) {
    .page-sub-nav {
        max-width: 1200px;
    }
}

.nav-wrap {
    -ms-overflow-style: none;
}
.nav-wrap::-webkit-scrollbar {
    display: none;
}
.required {
    color: red;
}

/* INPUT:FOCUS */
.form-txtbox:focus {
    background: hsla(0, 0%, 100%, 0.8);
    border-color: #0070c9;
    box-shadow: 0 0 0 3px rgb(131 192 253 / 50%);
}

/* select */
select {
    height: 44px;
    border-color: #dce0e6;
    padding: 0 30px 0 15px;
    background: transparent;
}
@media (min-width: 1070px) {
    select {
        height: 50px;
    }
}

/* input */
input,
input[type='text'],
textarea {
    border: 1px solid #dce0e6;
    min-height: 44px;
    padding: 10px;
    width: 100%;
}
@media (min-width: 1070px) {
    input,
    input[type='text'],
    textarea {
        min-height: 50px;
    }
}

input,
textarea,
select,
option {
    font-size: 15px;
}
@media (min-width: 1070px) {
    input,
    textarea,
    select,
    option {
        font-size: 16px;
    }
}

/* box */
.box {
    padding: 8px 0;
}
.box > div:first-child {
    font-weight: 600;
}
.box > *:nth-child(2) {
    margin-top: 6px;
    width: 100%;
}
@media (min-width: 1070px) {
    .box {
        padding: 16px 0;
    }
    .box > div:first-child {
        font-size: 17px;
    }
    .box > *:nth-child(2) {
        margin-top: 10px;
    }
}

.point {
    color: #684cf5;
}


/*박세희님의 css*/
.page-title {font-size:35px; text-align:center; color:#fff}

.visual {background-image: url(../images/header_bg_2.webp); background-size:cover; background-position:center center}
.contents-btn-wrap {text-align: center}
.contents-btn-wrap a {background-color: #fff; border-radius:15px; display:inline-block; width:140px; padding:14px 0px; margin:5px}

.nation-btn {border: 1px solid #4c6fff; border-radius: 5px; padding: 10px; margin-right: 5px}
.nation-btn::after {content:""; background:url(../images/ico-right-allow.svg) no-repeat 0 0; display:inline-block; width:7px; height:13px; vertical-align:text-top; margin:2px 0 0 5px}

.table-tab {display:inline-flex; padding-bottom:10px}
.table-tab a {margin-right: 10px;}

/*search bar*/
.search-ui {width:100%;}
.search-ui input {border:1px solid #e2e2e2; border-radius:4px; width:100%}
.search-ui .search-btn-result {display:inline-block; position:absolute; right:20px}

/*table*/
.website-table tr:nth-child(even) {background-color:#fafafa}
.table-head {border-bottom:1px solid #999}
.table-head th {font-weight:bold; padding-bottom:11px}
.website-table {overflow-x:auto}
.website-table table {width:1200px;}
.separation {color:#fff; padding:5px 10px; border-radius:4px;}
span.separation.btn-green {background-color:#00ca70}
span.separation.btn-orange {background-color:#ffb444}
.url-row {color:#4c6fff; margin-top:0px; margin-bottom:8px;}



/*media*/
@media (min-width: 768px) {
    .page-title {
    }
}

@media (min-width: 1070px) {
    .page-title {
    }
}
@media (min-width: 1200px) {
    .page-title {
    }

    .website-pt {
        padding-top: 145px;
        padding-bottom: 122px;
    }
}

overflow-y: auto;
overflow-x: hidden;
height: 100px;
