{
    "singleQuote": true,
    "quoteProps": "as-needed",
    "arrowParens": "always",
    "ignorePath": ".prettierignore",
    "printWidth": 250,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true
}
